/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.1em;
	@include breakpoint(tablet) {
		font-size: 1em;
	}

	.fonts-loaded & {
		font-weight: 300;
	}
}

strong,
b {
	font-weight: bold;
	font-weight: 400;
}

.outdatedBrowser {
	display: block;
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	top: 30px;
	z-index: 4;
	font-size: 1.3em;

	p {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		border-top: 2px solid $color-master;
		border-bottom: 2px solid $color-master;
		background: $light-grey;
		padding: 0.5em 0;

		a {
			color: $color-master;
		}
	}
}

.siteHeader {
	background: $color-master;
	position: fixed;
	z-index: 110;
	padding: 5px 0;
	width: 100%;
	@include breakpoint(tablet) {
		padding: 10px 0;
	}
	nav {
		display: none;
		@include breakpoint(tablet) {
			display: block;
		}
	}
	ul {
		@include display-flex();
		@include justify-content(center);
		@include flex-direction(column);
		@include resetList();
		background: $white;
		//margin-bottom: -4px;
		@include breakpoint(tablet) {
			@include flex-direction(row);
			background: none;
			margin-bottom: 0;
		}
		li {
			background-color: lighten($color-master, 49%);
			&:nth-child(even) {
				background-color: lighten($color-master, 51%);
			}
			@include breakpoint(tablet) {
				padding: 0;
				background-color: transparent;
				&:nth-child(even) {
					background-color: transparent;
				}
				&.active {
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}
		a {
			padding: 5px 10px;
			color: $black;
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			@include breakpoint(tablet) {
				color: $white;
			}
		}
	}
	.btn-responsive-menu {
		cursor: pointer;
		text-align: right;
		color: $white;
		padding: 0 7px;
		@include breakpoint(tablet) {
			display: none;
		}
		svg {
			fill: white;
			height: 40px;
			width: 40px;
		}
	}
}

.speakers {
	ul {
		@include display-flex();
		@include flex-direction(row);
		@include resetList();
		@include flex-wrap(wrap);
		@include justify-content(center);
	}
	li {
		@include flex-basis(204px);
	}
}

section {
	max-width: 1024px;
	padding: 0 1em;
	margin: 0 auto;
	h1 {
		text-align: center;
		margin: 60px 0 30px;
		font-weight: 400;
	}
	&.title {
		padding-top: 60px;
		text-align: center;
		.yooxlabs {
			width: 140px;
			height: 46px;
			display: block;
			margin: 30px auto 40px auto;
		}
		.cta {
			margin: 30px 0;
		}
		h1 {
			text-transform: uppercase;
			border: 0 none;
			margin: 30px 0;
			line-height: 1em;

			.techevent {
				display: block;
				font-size: 26px;
				margin-bottom: .3em;
			}
			.subtitle {
				color: $color-master;
				font-size: 40px;
			}

		}
		.data {
			font-size: 18px;
		}
		.imgMeet {
			position: relative;
			padding: 0;
			margin: 50px 0 30px;

			img {
				width: 100%;
				height: auto;
				&.lazy {
					display: none;
					&.visible {
						display: block;
					}
				}
			}
			figcaption {
				position: relative;
				z-index: 100;
				color: $color-master;
				margin: .5em auto;
				font-size: 12px;
			}
		}
	}
	&.speakers {
		img {
			width: 170px;
			height: 170px;
			margin-bottom: 10px;
		}
		li {
			text-align: center;
			margin-bottom: 40px;
			cursor: pointer;

			&:hover {
				img {
					opacity: 0.8;
				}

			}
		}
	}
	&.schedule {
		table {
			width: 100%;
			text-align: left;
			thead {
				@include visuallyHidden();
			}
			tbody {
				tr {
					border-bottom: 1px solid $grey;
					&:nth-child(odd) {
						background-color: $light-grey;
					}
					td {
						padding: 10px 5px;
					}
				}
			}
		}
	}
	&.faqs {
		dt {

			color: $color-master;
			font-size: 1.1em;
		}
		dd {
			padding-bottom: 10px;
			border-bottom: 1px solid $grey;
			margin-bottom: 10px;
		}
	}
	&.map {
		max-width: 100%;
		.section {
			max-width: 1024px;
			margin: 0 auto;
			text-align: center;
		}
	}
	&.end {
		text-align: center;
		margin: 60px auto;

		h1 {
			@include visuallyHidden();
		}
	}
}

%thickButton {
	background: white;
	border-color: $color-master;
	border-style: solid;
	color: $color-master;
	text-transform: uppercase;
}

.joinUs {
	@extend %thickButton;
	padding: 10px 40px;
	font-weight: 400;
	font-size: 24px;
	width: 100%;
	display: block;
	cursor: pointer;
	border-width: 3px;
	@include breakpoint(tablet) {
		width: auto;
		display: inline-block;
	}
}

.toGMaps {
	text-align: center;
	margin-top: 15px;
	a {
		@extend %thickButton;
		padding: 5px 20px;
		font-size: 16px;
		text-decoration: none;
		color: $color-master;
		display: inline-block;
		border-width: 2px;
	}
}

#map {
	position: relative;
	height: 300px;
	overflow: hidden;
	width: 100%;
	@include breakpoint(tablet) {
		height: 400px;
	}
}

.gm-style-iw * {
	display: block;
	width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
	margin: 0;
	padding: 0;
}

.gm-style-iw a {
	color: #4272db;
}

footer {
	position: relative;
	clear: both;
	background: $black;
	padding: 20px 0;
	z-index: 100;
	color: $white;
	text-align: center;
	font-size: 0.8em;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
	}
	a {
		fill: $white;
		&:hover {
			fill: lighten($color-master, 30%);
		}
		svg {
			width: 40px;
			height: 40px;
			padding: 0 10px;
		}
	}
	p {
		margin-bottom: 0;
	}
}