$icon-times: "\e900";
$icon-delete-outline: "\e901";
$icon-location-outline: "\e902";
$icon-attachment-outline: "\e903";
$icon-social-last-fm-circular: "\e904";
$icon-social-github-circular: "\e905";
$icon-lightbulb: "\e906";
$icon-wine: "\e907";
$icon-coffee: "\e908";
$icon-social-vimeo-circular: "\e909";
$icon-social-twitter-circular: "\e90a";
$icon-social-pinterest-circular: "\e90b";
$icon-social-linkedin-circular: "\e90c";
$icon-social-facebook-circular: "\e90d";
$icon-social-skype-outline: "\e90e";
$icon-social-flickr-circular: "\e90f";
$icon-messages: "\e910";
$icon-search: "\e911";
$icon-circle-down: "\e912";
